<header class="header" id="header">
    <div class="header__top">
        <nav class="header__navMobile">
            <a class="header__iconMenu" href="https://adalab.es/">
                <i class="fas fa-bars"></i> 
            </a>
        </nav>
        <nav class="header__navDesktop">
            <ul>
                <li><a href="https://adalab.es/">Producto</a></li>
                <li><a href="https://adalab.es/">Colecciones</a></li>
                <li><a href="https://adalab.es/">Tienda</a></li>
                <li><a href="https://adalab.es/">Inicio</a></li>
            </ul>
        </nav>
        <img class="header__logo" src="./assets/images/logo.png" alt="logo" title="logo open spaces">
    </div>
    <h1 class="header__title">Disfruta creando espacios</h1>
    <button class="header__button">
        <a href="#">Comprar ahora</a>
    </button>
</header>
