<header class="header">
    <div class="topHeader">
        <nav class="nav__mobile">
            <a class="menu-icon" href="https://adalab.es/">
                <i class="fas fa-bars"></i> 
            </a>
        </nav>
        <nav class="nav__desktop">
            <ul>
                <li><a href="https://adalab.es/">Producto</a></li>
                <li><a href="https://adalab.es/">Colecciones</a></li>
                <li><a href="https://adalab.es/">Tienda</a></li>
                <li><a href="https://adalab.es/">Inicio</a></li>
            </ul>
        </nav>
        <img class="logo" src="../assets/images/logo.png" alt="logo" title="logo open spaces">
    </div>
    <h1 class="principalTitle">Disfruta creando espacios</h1>
    <button class="header__button">
        <a href="#">Comprar ahora</a>
    </button>
</header>
