<section class="openSpaces">
    <h2 class="openSpaces__title">Volverse organizado se siente mejor con <span class="uppercaseTitle">open spaces</span></h2>
    <article class="openSpaces__box">
        <img class="openSpaces__img" src="./assets/images/icon_1.png" alt="mesa decorativa" title="Mesa decorativa">
        <h3 class="openSpaces__titleBox">Lo que necesitas</h3>
        <p class="openSpaces__textBox">Una linea de productos diseñados para todos tus espacios</p>
    </article>
    <article class="openSpaces__box">
        <img class="openSpaces__img" src="./assets/images/icon_2.png" alt="bolsa sustentable" title="bolsa sustentable">
        <h3 class="openSpaces__titleBox">Materias primas sustentables</h3>
        <p class="openSpaces__textBox">Todos los productos con materias primas sustentables</p>
    </article>
    <article class="openSpaces__box">
        <img class="openSpaces__img" src="./assets/images/icon_3.png" alt="cartel guía" title="cartel guía">
        <h3 class="openSpaces__titleBox">Guía</h3>
        <p class="openSpaces__textBox">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
</section>