<section class="openSpaces">
    <h2>Volverse organizado se siente mejor con open spaces</h2>
    <article class="openSpaces__box">
        <img src="../assets/images/icon_1.png" alt="mesa decorativa" title="Mesa decorativa">
        <h3>Lo que necesitas</h3>
        <p>Una linea de productos diseñados para todos tus espacios</p>
    </article>
    <article class="openSpaces__box">
        <img src="../assets/images/icon_2.png" alt="bolsa sustentable" title="bolsa sustentable">
        <h3>Materias primas sustentables</h3>
        <p>Todos los productos con materias primas sustentables</p>
    </article>
    <article class="openSpaces__box">
        <img src="../assets/images/icon_3.png" alt="cartel guía" title="cartel guía">
        <h3>Guía</h3>
        <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>
</section>