// fonts
$font-main: 'Poppins', sans-serif;

//colors
$color-background: #f0ebe5;
$color-background-free: #ff975a;
$color-background-footer: #0c474b;
$color-nav-footer-text:#b6c8c9;
$color-button: #0c474b;
$color-button-text: #ffffff;
$color-title-free: #ffffff;
$color-title: #0c474b;
$color-menu-icon: #0c474b;
