.header{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.nav__mobile{
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: fixed;
    top: 65px;
    left: 20px;
}

.menu-icon{
    color: $color-menu-icon;
}
.logo{
    width: 213px;
    height: 96px;
    margin: 20px;
}

.principalTitle{
    width: 400px;
    font-family: $font-main;
    font-size: 24px;
    font-weight: 600;
    color: $color-title;
    text-align: center;
    padding-bottom: 40px;
}

.header__button{
    width: 176px;
    height: 48px;
    background-color: $color-button;
    color: $color-button-text;
    border: none;
    transform: translateY(-150px);
}

.header__button a{
    color: $color-button-text;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
}















.nav__desktop{
    display: none;
}