.header{
    height: 100vh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__top{
        @media all and (min-width: 1728px){
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 450px
        }
    }

    &__navMobile{
        width: 24px;
        height: 24px;
        object-fit: contain;
        position: fixed;
        top: 65px;
        left: 30px;

        @media all and (min-width: 1728px){
            display:none;
        }
    }

    &__navDesktop{
        display: none;

        @media all and (min-width: 1728px){
            display: flex;
            justify-content: space-around;
        }

        li{
            @media all and (min-width: 1728px){
                margin: 20px;
            }

            a{
                font-family: $font-main;
                text-decoration: none;
                font-size: 16px;
                color: $color-title;
            }
        }
    }
    
    &__iconMenu{
        color: $color-menu-icon;
        @media all and (min-width: 1728px){
            display: none;
        }
    }
    &__logo{
        width: 213px;
        height: 96px;
        margin: 20px;
    }
    
    &__bottom{
        transform: translate(0, -150px);

        @media all and (min-width: 900px){
            transform: translate(-180px, -380px);
        }

        @media all and (min-width: 1728px){
            transform: translate(-400px, -350px);
        }
    }
    &__title{
        font-family: $font-main;
        font-size: 24px;
        font-weight: 600;
        color: $color-title;
        text-align: center;
        padding-bottom: 250px;
        @media all and (min-width: 900px){
            width: 70%;
            font-size: 36px;
            text-align: left;
            margin-bottom: 40px;
            padding-bottom: 90px;

        }

    }
    
    &__button{
        width: 176px;
        height: 48px;
        background-color: $color-button;
        color: $color-button-text;
        border: none;
        transform: translate(75px, -130px);

        @media all and (min-width: 900px){
            transform: translateY(-90px);
        }

        @media all and (min-width: 1728px){
            transform: translateY(-100px);
        }

        a{
            color: $color-button-text;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}
















