.openSpaces{
    background-color: $color-background;
    font-family: $font-main;
    color: $color-title;
    text-align: center;

    @media all and (min-width: 900px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 75px;
    }

    &__box{
        padding-left: 40px;
        padding-right: 40px;
        line-height: 1.5;
    
        @media all and (min-width: 900px){
            display: grid;
            justify-items: center;
        }
    }
    
    &__title{
        font-size: 24px;
        font-weight: 600;
        padding: 20px;
        grid-column: 1 / 4;
        line-height: 1.5;
    }

    &__img{
        width: 90px;
        height: 90px;
        margin-top: 37px;
        margin-bottom: 45px;
        @media all and (min-width: 1728px){
            margin-bottom: 20px;
        }
    }

    &__titleBox{
        font-size: 20px;
        font-weight: 600;
        
    }
    
    &__textBox{
        font-size: 16px;
        margin-top: 12px;
        padding-bottom: 50px;
        @media all and (min-width: 1728px){
            width: 210px;
            margin-bottom: 20px;
            padding: 0 12px;
        }
    }

}



.uppercaseTitle{
    text-transform: uppercase;
}

