.createSpaces{
    width: 100%;
    font-family: $font-main;
    background-color: $color-background;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 1728px){
        flex-direction: row;
    }

    &__container{
        //padding: 90px 30px 140px 30px;
        @media all and (min-width: 1728px){
            width: 50%;
        }
    }

    &__title{
        font-size: 24px;
        font-weight: 600;
        color: $color-title;
        padding-top: 90px;
        @media all and (min-width: 1728px){
            width: 350px;
            font-size: 36px;
            text-align: left;
            margin: 0 auto;

        }
    }
    
    &__text{
        font-size: 14px;
        color: $color-title;
        padding: 20px;
        margin: 0 30px 20px 30px;

        @media all and (min-width: 1728px){
            width: 350px;
            font-size: 16px;
            text-align: left;
            margin: 0 auto;
            padding: 20px 0;

        }
    }
    
    &__button{
        width: 176px;
        height: 48px;
        background-color: $color-button;
        color: $color-button-text;
        border: none;
        margin-bottom: 90px;

        @media all and (min-width: 1728px){
            transform: translateX(-85px);
            margin: 0;
        }
    
        a{
            color: $color-button-text;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
        }
    }

    &__img{
        width: 100%;
        height: 315px;
        background-image: url(../images/creando-espacios.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 0;
        @media all and (min-width: 1728px){
            width: 50%;
            height: 570px;
        }
    }
}   








